* {
    margin: 10;
    padding: 10;
    box-sizing: border-box; 
}

html {
    background-color: black;
}

body{
    background-color: #082826;
}

header {
    padding: 20px;
}

main {
    padding: 20px;
}

footer {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #163832;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #DAF1DE;
}

p {
    font-family: 'Inter', sans-serif;
    color: #A1D1B1;
}

ul {
    font-family: 'Roboto', sans-serif;
    color: #A1D1B1;
}

.indice a {
    color: #C7E8D2;
}

.vuelta a {
    color: cadetblue;
}

.comentarios {
    display: grid;
    width: 425px;
    gap: 10px;
    border: 1px solid #C7E8D2;
    padding: 10px;
    background-color: #163832;
}

#nombre {
    width: 400px;
}

#email {
    width: 400px;
}

#comentario {
    height: 100px;
    width: 400px;
}

.label {
    color: #A1D1B1;
}

.btnenviar {
    width: 400px;
}

.productos {
    display: grid;
    width: 600px;
    gap: 10px;
    border: 1px solid #C7E8D2;
    padding: 10px;
    background-color: #163832;
    color: #A1D1B1;
    font-family: 'Inter', sans-serif;
    font-size: small;
}